*~
*.log
*.sln
Builds/Keyflow*
*.csproj
*.blend[0-9]
*.blend[0-9].meta
*[Ee]xpanded[Ii]tems*
Assets_Excluded/butler*/
Assets/Scenes/*/*/Lightmap*.png*
Assets/Scenes/*/*/Lightmap*.exr*
Assets/Resources/PerformanceTest*
Assets/TextMesh*
UIElementsSchema/
UserSettings/
obj/
Temp/
Logs/
.idea/
Library/
